/* All fonts import */

/* universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */

/* mobile styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* footer styles */

/* desktop responsive styles */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
